1 VERSIONINFO
FILEVERSION 2021,18,6,1349
PRODUCTVERSION 1,0,2,0
FILETYPE 1 {
    BLOCK "StringFileInfo"
    {
        BLOCK "040C04E4"
        {
            VALUE "CompanyName",        "Execute SARL\0"
            VALUE "FileDescription",    "libPDFium a COM wrapper for Google's PDFium\0"
            VALUE "FileVersion",        "2021.18.06.1349\0"
            VALUE "LegalCopyright",     "(c)2018-2021 Execute SARL. All Rights Reserved\0"
            VALUE "OriginalFilename",   "libPDFium.dll\0"
            VALUE "ProductName",        "libPDFium\0"
            VALUE "ProductVersion",     "1.0.2.0\0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x40C, 0x04E4
    }
}